.login-header, .signup-header {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
  color: #d44b2b;
  font-weight: 400;
}
.heading-collapsed p{
  font-size: 23px;
  font-weight: normal;
  margin-left: 15%;
  color: #da5024;
  line-height:32px;
}
.heading-expanded p{
  font-size: 25px;
  font-weight: bold;
  margin-left: 15%;
  color: #da5024;
  line-height: 20px;
  margin-right:12px;
}
.item {

  margin: 5px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  color: #d44b2b;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 10px solid #d44b2b;
  float: left;
  margin-top: 8px;
  margin-right: 10px;

}
.arrow-right {
  width: 0; 
  color: #d44b2b;
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
  border-left: 10px solid #d44b2b;
  float: left;
  margin-top: 4px;
  margin-left: 7px;
  margin-right: 12px;
}
.forgot {
  font-size: 13px;
  margin-left: 10px;
}